%h2 Sign up
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name,                       
      required: true,                      
      autofocus: true,                     
      input_html: { autocomplete: "name" } 
    = f.input :email,                       
      required: true,                       
      autofocus: true,                      
      input_html: { autocomplete: "email" } 
    = f.input :password,                                                                    
      required: true,
      autofocus: true,                                                                                            
      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
      input_html: { autocomplete: "new-password" }                                          
    = f.input :password_confirmation,              
      required: true,   
      autofocus: true,                                                
      input_html: { autocomplete: "new-password" } 
    = f.input :birthday, start_year: Time.now.year - 60, end_year: Time.now.year, order: %i(day month year),                     
      autofocus: true,
      hint: ("Select your birthday"),                         
      input_html: { autocomplete: "birthday" } 
    = f.input :phone,                       
      autofocus: true,                      
      input_html: { autocomplete: "phone" } 
    = f.input :address,                       
      autofocus: true,                        
      input_html: { autocomplete: "address" } 
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
