#wapper-content
    %h2 Listing book card order

    -# = datagrid_table(@book_cards_grid)
    -if current_user && current_user.admin == true
        %p.total
        Total book: #{@book_cards_grid.assets.total_count}
        %button.btn.btn-default{:type => "button", :onclick => "addFill()"} Fillter 
        #form-fill
            = datagrid_form_for @book_cards_grid, url: book_cards_path
        = datagrid_table(@book_cards_grid)
        = paginate @book_cards_grid.assets

    - else
        = render 'book_card_user'
