#wapper-content
  %h1 User 
  %p
    %b Image:
    - if @user.image?
      = image_tag @user.image.thumb.url
    - else 
      %p 
        %b 
          %i Update image, pleaes
  %table.table.table-hover
    %thead
      %tr
        %th No.
        %th Name
        %th Email
        %th Phone
        %th Address
        %th Birthday

    %tbody
      %tr
        %td= @user.id
        %td= @user.name
        %td= @user.email
        %td= @user.phone
        %td= @user.address
        %td= @user.birthday

  %hr
  %h2 Edit User
  = simple_form_for(@user, :url => { :action => "update_user" }) do |f|
    = f.error_notification
    .form-inputs
      = f.input :name,                       
        required: false,                     
        autofocus: true,                     
        input_html: { autocomplete: "name" } 
      = f.input :birthday, start_year: Time.now.year - 60, end_year: Time.now.year, order: %i(day month year),
        required: false,                         
        autofocus: true,                         
        input_html: { autocomplete: "birthday" } 
      = f.input :phone,                       
        required: false,                      
        autofocus: true,                      
        input_html: { autocomplete: "phone" } 
      = f.input :address,                       
        required: false,                        
        autofocus: true,                        
        input_html: { autocomplete: "address" } 
      = f.file_field :image, accept: "image/jpeg, image/gif, image/png, image/jpg"
    .form-actions
      = f.button :submit, "Update"
  = link_to "Back", :back
