%tr
    %td= book_order.id
    %td= book_order.amount_book
    %td= book_order.brorrow_date
    %td= book_order.user_id
    %td= link_to 'Edit', class: "btn btn-xl btn-success", style: "color: #fff"


