#wapper-content
    %h1= "Book order detail: #{@book_order.id}"
    .content-detail
        %p
            %strong User:
            = @book_order.user.name
            %strong Id User:
            = @book_order.user_id
        %p
            %strong Image User:
            - if @book_order.user.image?
                = image_tag @book_order.user.image.thumb.url
            - else
                %p Update image, please
        %p
            %strong Brorrow Date:
            = @book_order.brorrow_date
        %p
            %strong Amount Book:
            = @book_order.amount_book       
        #list_book_order 
            %h4 List all the books here
            %table.table.table-dark
                %thead
                    %tr
                        %th{:scope => "col"} Id book
                        %th{:scope => "col"} Name book
                        %th{:scope => "col"} Image
                        %th{:scope => "col"} Action

                %tbody
                    - @book_order.book_cards.each do |book_card|  
                        %tr
                            %td= book_card.book_id
                            %td= book_card.book.name
                            - if book_card.book.image?
                                %td= image_tag book_card.book.image.thumb.url
                            - else
                                %p Update image, please
                            - if book_card.status != true && current_user.admin
                                %td= link_to 'Return Book', edit_book_card_path(book_card), class: "btn btn-xl btn-edit"
                            - else
                                %td Have paid
    = link_to "Back", :back , class: "btn-back"
