%tr
  %td= book.id
  %td= image_tag book.image.thumb.url.to_s
  %td= book.name
  %td= book.desc
  %td= link_to 'Show', book_path(book), class: "btn btn-xl btn-primary", style: "color: #fff"
  %td= link_to 'Edit', edit_book_path(book), class: "btn btn-xl btn-success", style: "color: #fff"
  %td= link_to 'Destroy', book, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-xl btn-danger", style: "color: #fff"
