= simple_form_for @book,remote: true, url: books_path do |form|
  .row-one
    = form.input :isbn
    = form.input :name
  .row-one
    = form.input :author
    = form.input :books_total
    = form.association :category
  .div
    = form.input :desc, as: :text
  .div
    = form.input :image
  .button-add-new
    = form.submit "Save"