= simple_form_for @book, remote: true do |f|
  -# - if @book.errors.any?
  -#   #error_explanation
  -#     %h2
  -#       = pluralize(@book.errors.count, "error")
  -#       prohibited
  -#       this book from being saved:
  -#     %ul
  -#       - @book.errors.full_messages.each do |msg|
  -#         %li= msg
  .row-one
    = f.input :isbn
    = f.input :name   
    = f.association :category

  .row-one.book-row-one
    = f.input :author
    = f.input :books_total
    = f.input :price
    = f.input :status, :as => :boolean, :input_html => { :checked => "checked" }

  .div
    = f.input :desc, as: :text
  .div
    = f.file_field :image
  
  = f.button :submit , data: { "disable-with": "Saving..." }, class: "btn-save"