#wapper-content
  %h2 Listing books
  %p.total
    Total book: #{@books_grid.assets.total_count}
    %button.btn.btn-default{:type => "button", :onclick => "addFill()"} Fillter 
  #form-fill
    = datagrid_form_for @books_grid, url: books_path
  %div.data_grid_book
    = render 'data_grid_book'
  = paginate @books_grid.assets, theme: 'twitter-bootstrap-3'
  %br
  -if current_user && current_user.admin
    %button.btn.btn-default{:type => "button", :onclick => "addNew()"} Add New Book
    #form-add-new
      = render 'form'

