#wapper-content
  %h1 Book detail 
  .content-detail
    %p
      %strong ISBN:
      = @book.isbn
    %p
      %strong Image:
      - if @book.image?
        = image_tag @book.image.thumb.url 
    %p
      %strong Name:
      = @book.name
    %p
      %strong Description:
      = @book.desc
    %p
      %strong Author:
      = @book.author
    %p
      %strong Total:
      = @book.books_total 
    %p
      %strong Status:
      - if @book.status == 1
        %p{:style => "color:#f8a304;font-style: italic;"} Stocking
      -else 
        %p{:style => "color:#6b0202;font-weight: 600;font-style: italic;"} Out of stock
    %p
      %strong User Add Book:
      = @book.user.username
  = link_to "Back", :back , class: "btn-back"


