#wapper-content
  %h2 Listing categories
  %p.total
    -# Total category: #{@categories_grid.assets.total_count}
    %button.btn.btn-default{:type => "button", :onclick => "addFill()"} Fillter 
  #form-fill
    = datagrid_form_for @categories_grid, url: categories_path

  %div.data_grid_category
    = render 'data_grid_category'
  = paginate @categories_grid.assets , theme: 'twitter-bootstrap-3'

  %hr
  .errors_msg

  -if current_user && current_user.admin
    %button.btn.btn-default{:type => "button", :onclick => "addNew()"} Add New Category
    #form-add-new
      = render 'form'

